.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

header {
  width: 100%;
  background: #5c9ead;
  color: white;
  grid-row: 1;
  grid-column: 1 / 4;
}

header h1 {
  margin-left: 20px;
}