:root {
  --light-grey: #E0E0E0;
  --dark-grey: #7B7B7B;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 45px 39px repeat(4, 1fr);
  grid-template-areas:
    "header header header"
    "categories categories search"
    "item-list item-list checkout"
    "item-list item-list checkout"
    "item-list item-list checkout"
    "item-list item-list checkout-totals"
}

header {
  background: #5c9ead;
  color: white;
  grid-area: header;
}

header h2 {
  margin-left: 20px;
  margin-top: 10px;
}

.icon {
  color: var(--dark-grey);
}

.category-container {
  grid-area: categories;
  border-bottom: 1px solid var(--light-grey);
  border-right: 1px solid var(--light-grey);
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(6, auto);
  align-items: center;
  padding: 0;
  margin: 0;
}

.category {
  cursor: pointer;
  padding: 10px;
  border-right: 1px solid var(--light-grey);
  text-align: center;
  color: var(--dark-grey);
  transition: all 0.2s ease-in-out;
}

.category:hover {
  background-color: var(--light-grey);
  color: var(--dark-grey);
}

.category.selected {
  background-color: var(--dark-grey);
  color: white;
}

#search-container {
  grid-area: search;
  border-bottom: 1px solid var(--light-grey);
  position: relative;
}

#search-icon {
  position: absolute;
  top: 6px;
  left: 8px;
}

#search-input {
  width: 100%;
  height: 100%;
  padding: 5px 5px 5px 40px;
  font-size: 1.1em;
  border: none;
}

.item-container {
  display: grid;
  margin: 0;
  padding: 1rem;
  overflow-y: scroll;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(6, minmax(100px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-area: item-list;
  grid-auto-rows: minmax(150px, 1fr);
}

.item {
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  min-width: 50px;
  min-height: 100px;
  padding: 1rem;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  background: none;
}

#checkout-container {
  grid-area: checkout;
}

.checkout-item-container {
  padding: 15px 5px;
  border-bottom: 1px solid var(--light-grey);
  display: grid;
  grid-template-columns: 40px 2fr 115px 1fr;
  align-items: center;
}

.checkout-name {
  text-align: left;
}

.line-price {
  text-align: right;
}

.delete-icon, .checkout-qty {
  text-align: center;
  line-height: 2em;
  vertical-align: middle;
}

.qty-button {
  border: none;
  background-color: white;
  padding: 5px;
}

#checkout-totals-container {
  grid-area: checkout-totals;
  margin: 0;
}

.totals-container {
  width: 100%;
  height: 62%;
  padding: 1.5em 5em;
}

.totals-container > p {
  margin: 0;
  padding: 10px;
  width: 100%;
  font-size: 1.5em;
  clear: both;
}

.totals-container .total-title-text {
  float: left;
}

.totals-container .total-amount-text {
  float: right;
}

.pay-total-button {
  padding: .75em;
  background-color: #6FCF97;
  color: white;
  border: none;
  font-size: 2em;
  width: 100%;
  justify-content: center;
  align-content: center;
}